@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  -webkit-box-shadow: 1px 25px 62px -16px rgba(0, 0, 0, 0.47);
          box-shadow: 1px 25px 62px -16px rgba(0, 0, 0, 0.47);
}

li a:hover {
  text-decoration: none;
  color: black;
}

header nav .container .row {
  height: 100px;
}

header nav .container .row .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .container .row .logo a img {
  width: 212px;
  height: 25px;
}

header nav .container .row .menu {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
}

header nav .container .row .menu .active {
  border-bottom: 1px solid black;
}

header nav .container .row .menu li:after {
  display: block;
  content: '';
  border-bottom: solid 1px black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

header nav .container .row .menu li:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header nav .container .row .menu li:after {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

header nav .container .row .menu li :after {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

header nav .container .row .menu .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .container .row .menu .nav_ul .nav_li h4 {
  font-size: 15px;
}

header nav .container .row .menu .nav_ul .nav_li .home {
  position: absolute;
  width: 220px;
  height: 0px;
  overflow: hidden;
  top: 75px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .container .row .menu .nav_ul .nav_li .pages {
  position: absolute;
  width: 220px;
  height: 0px;
  overflow: hidden;
  top: 75px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .container .row .menu .nav_ul .nav_li .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100vh;
  height: 0px;
  overflow: hidden;
  top: 75px;
  right: 1px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .container .row .menu .nav_ul .nav_li .portfolio {
  position: absolute;
  width: 220px;
  height: 0px;
  overflow: hidden;
  top: 75px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .container .row .menu .nav_ul .nav_li .portfolio:hover .portfolioLayouts {
  height: 230px;
}

header nav .container .row .menu .nav_ul .nav_li .blog {
  position: absolute;
  width: 220px;
  height: 0px;
  overflow: hidden;
  top: 75px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .container .row .menu .nav_ul .nav_li .elements {
  position: absolute;
  width: 220px;
  height: 0px;
  overflow: hidden;
  top: 75px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .container .row .menu .nav_ul .nav_li:hover .home {
  height: 280px;
  z-index: 5;
}

header nav .container .row .menu .nav_ul .nav_li:hover .pages {
  height: 280px;
  z-index: 5;
}

header nav .container .row .menu .nav_ul .nav_li:hover .shop {
  height: 600px;
  z-index: 5;
}

header nav .container .row .menu .nav_ul .nav_li:hover .portfolio {
  height: 280px;
  z-index: 5;
}

header nav .container .row .menu .nav_ul .nav_li:hover .blog {
  height: 280px;
  z-index: 5;
}

header nav .container .row .menu .nav_ul .nav_li:hover .elements {
  height: 280px;
  z-index: 5;
}

header nav .container .row .menu .nav_ul .nav_li a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

header nav .container .row .basket-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .container .row .basket-search .bsketSearch-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .container .row .basket-search .bsketSearch-list li {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .container .row .basket-search .bsketSearch-list li a {
  color: black;
}

header nav .container .row .basket-search .bsketSearch-list li .search-input {
  display: none;
}

header nav .container .row .basket-search .bsketSearch-list li .notificationBasket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .container .row .basket-search .bsketSearch-list li .notificationBasket .badgenumber {
  width: 12px;
  height: 12px;
  background-color: red;
  position: absolute;
  left: 8px;
  border-radius: 50%;
  bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .container .row .basket-search .bsketSearch-list li .notificationBasket .badgenumber .num {
  margin: 0;
  color: white;
  font-size: 10px;
}

header nav .container .row .basket-search .bsketSearch-list li .notificationBasket i {
  font-size: 20px;
}

main #photo-slide {
  position: relative;
}

main #photo-slide .imagesSlide {
  overflow: hidden;
}

main #photo-slide .imagesSlide .imgscale {
  position: relative;
}

main #photo-slide .imagesSlide .imgscale img {
  opacity: 0;
  position: relative;
  z-index: -2;
  -webkit-animation: 50s linear 0s normal none infinite running zoomEffect;
          animation: 50s linear 0s normal none infinite running zoomEffect;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  width: 100%;
  height: 477px;
}

@-webkit-keyframes zoomEffect {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.14);
            transform: scale(1.14);
  }
}

@keyframes zoomEffect {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.14);
            transform: scale(1.14);
  }
}

main #photo-slide .imagesSlide .clickright {
  position: absolute;
  -webkit-transform: translate(1%, -50%);
          transform: translate(1%, -50%);
  font-size: 45px;
  top: 50%;
  right: 1%;
  color: #c2c2c2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer;
}

main #photo-slide .imagesSlide .clickright:hover {
  color: black;
}

main #photo-slide .imagesSlide .clickleft {
  position: absolute;
  -webkit-transform: translate(1%, -50%);
          transform: translate(1%, -50%);
  font-size: 45px;
  top: 50%;
  left: 1%;
  color: #c2c2c2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer;
}

main #photo-slide .imagesSlide .clickleft:hover {
  color: black;
}

main #photo-slide .flowersInfo {
  -webkit-transition: 5.5s;
  transition: 5.5s;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
  width: 380px;
}

main #photo-slide .flowersInfo .Infos {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #photo-slide .flowersInfo .Infos .titleInfo span {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  margin-left: 10px;
  font-weight: lighter;
  line-height: 1;
}

main #photo-slide .flowersInfo .Infos .titleInfo span:nth-child(2) {
  color: red;
}

main #photo-slide .flowersInfo .descInfo {
  margin-top: 25px;
}

main #photo-slide .flowersInfo .descInfo p {
  opacity: 60%;
  padding-left: 10px;
  font-family: "Lora", serif;
}

main #photo-slide .flowersInfo .signatureInfo {
  padding-left: 10px;
  margin-top: 25px;
}

main #photo-slide .flowersInfo .signatureInfo img {
  width: 60px;
  height: 20px;
}

main #productFilter .links {
  width: 70%;
}

main #productFilter .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #productFilter .links ul li.hide {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

main #productFilter .links ul li a {
  color: black;
  font-size: 12px;
}

main #productFilter .links ul li:hover a {
  color: green;
}

main #productFilter .product .Cards {
  border: none;
  margin: 30px 0;
}

main #productFilter .product .Cards .sold {
  position: absolute;
  width: 250px;
  height: 100px;
  top: 20px;
  left: 20px;
  z-index: 4;
}

main #productFilter .product .Cards .sold span {
  padding: 10px;
  background-color: black;
  color: white;
}

main #productFilter .product .Cards .sale {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 100px;
  z-index: 4;
}

main #productFilter .product .Cards .sale span {
  padding: 10px;
  background-color: white;
  color: black;
}

main #productFilter .product .Cards .cardImage {
  overflow: hidden;
}

main #productFilter .product .Cards .cardImage img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #productFilter .product .Cards .cardImage img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main #productFilter .product .Cards .card-body .text-center .priceCart {
  position: relative;
}

main #productFilter .product .Cards .card-body .text-center .priceCart .price {
  opacity: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

main #productFilter .product .Cards .card-body .text-center .priceCart .price span {
  font-size: 12px;
}

main #productFilter .product .Cards .card-body .text-center .priceCart .addToCart {
  position: absolute;
  top: 0;
  left: -60px;
  opacity: 0;
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

main #productFilter .product .Cards .card-body .text-center .priceCart .addToCart a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

main #productFilter .product .Cards .card-body .text-center .priceCart:hover .price {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  opacity: 0;
}

main #productFilter .product .Cards .card-body .text-center .priceCart:hover .addToCart {
  -webkit-transform: translateX(120px);
          transform: translateX(120px);
  opacity: 50%;
}

main #videodesc {
  padding: 30px 0;
}

main #videodesc .container .videotitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #videodesc .container .videotitles .video {
  position: relative;
  overflow: hidden;
}

main #videodesc .container .videotitles .video img {
  width: 600px;
  height: 400px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #videodesc .container .videotitles .video img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main #videodesc .container .videotitles .video i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  background-color: red;
  border-radius: 50%;
}

main #videodesc .container .videotitles .title .iconLists .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #videodesc .container .videotitles .title .iconLists .lists .icon {
  margin-right: 25px;
}

main #ExpertsFlower .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

main #ExpertsFlower .container .titleInfo .title {
  text-align: center;
}

main #ExpertsFlower .container .titleInfo .info {
  text-align: center;
}

main #ExpertsFlower .container .experts .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #ExpertsFlower .container .experts .row .card {
  border: none;
}

main #ExpertsFlower .container .experts .row .card .nameInfo {
  text-align: center;
  margin-top: 20px;
}

main #paralax .parlaxWindow {
  min-height: 400px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #paralax .parlaxWindow .parallaxBtnTitle .parallaxTitle {
  text-align: center;
}

main #paralax .parlaxWindow .parallaxBtnTitle .parallaxTitle h4 {
  color: white;
}

main #paralax .parlaxWindow .parallaxBtnTitle .parallaxBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #paralax .parlaxWindow .parallaxBtnTitle .parallaxBtn input {
  height: 60px;
  width: 400px;
}

main #paralax .parlaxWindow .parallaxBtnTitle .parallaxBtn button {
  width: 100px;
  height: 60px;
  background-color: red;
  color: white;
  border: none;
}

main #fromOurBlog {
  margin: 50px 0;
  overflow: hidden;
}

main #fromOurBlog .fromOurBlogTitle {
  margin-bottom: 60px;
  text-align: center;
}

main #fromOurBlog .Blogger .col .blogCards {
  border: none;
}

main #fromOurBlog .Blogger .col .blogCards .dateTime {
  text-align: center;
  position: absolute;
  background-color: white;
  width: 80px;
  height: 30px;
  top: 5px;
  left: 5px;
  z-index: 4;
}

main #fromOurBlog .Blogger .col .blogCards .dateTime span {
  font-size: 12px;
  cursor: pointer;
}

main #fromOurBlog .Blogger .col .blogCards .dateTime span:hover {
  color: red;
}

main #fromOurBlog .Blogger .col .blogCards .cardImage {
  overflow: hidden;
}

main #fromOurBlog .Blogger .col .blogCards .cardImage img {
  -webkit-transition: .3s;
  transition: .3s;
}

main #fromOurBlog .Blogger .col .blogCards .cardImage img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main #lastHomeSlide .owl-carousel .owl-nav {
  background-color: white;
}

main #lastHomeSlide .owl-carousel .owl-nav button.owl-prev {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 0;
  border: none;
}

main #lastHomeSlide .owl-carousel .owl-nav button.owl-prev .preleft {
  border: none;
  font-size: 25px;
  outline: none;
}

main #lastHomeSlide .owl-carousel .owl-nav button.owl-prev:hover .preleft {
  border: none;
  background-color: white;
  color: grey;
  font-weight: 200;
}

main #lastHomeSlide .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  right: 0;
  border: none;
  background-color: white;
}

main #lastHomeSlide .owl-carousel .owl-nav .owl-next .nextright {
  border: none;
  font-size: 25px;
  outline: none;
}

main #lastHomeSlide .owl-carousel .owl-nav .owl-next:hover .nextright {
  border: none;
  background-color: white;
  color: grey;
  font-weight: 200;
  outline: none;
}

main #lastHomeSlide .owl-carousel .item .profilPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

main #lastHomeSlide .owl-carousel .item .profilPhoto img {
  width: 110px;
  height: 110px;
}

main #lastHomeSlide .owl-carousel .item .profilInfo p {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: center;
}

main #lastHomeSlide .owl-carousel .item .profilName {
  text-align: center;
}

main #lastHomeSlide .owl-carousel .item .profilName span {
  font-size: 13px;
}

main #lastHomeSlide .owl-carousel .item .profilName p {
  font-size: 12px;
  opacity: 50%;
}

#footer {
  background-color: #fefaf3;
}

#footer .footerTop .container .links .col .Cards {
  border: none;
  background-color: #fefaf3;
  margin: 50px 0;
}

#footer .footerTop .container .links .col .Cards .CustomerService h6 {
  font-size: 12px;
}

#footer .footerTop .container .links .col .Cards .Company {
  padding-left: 20px;
}

#footer .footerTop .container .links .col .Cards .Company h6 {
  font-size: 12px;
}

#footer .footerTop .container .links .col .Cards .SocialMedia {
  padding-left: 20px;
}

#footer .footerTop .container .links .col .Cards .SocialMedia h6 {
  font-size: 12px;
}

#footer .footerTop .container .links .col .Cards .Archive {
  padding-left: 20px;
}

#footer .footerTop .container .links .col .Cards .Archive h6 {
  font-size: 12px;
}

#footer .footerTop .container .links .col .Cards .card-body ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  opacity: 60%;
}

#footer .footerBottom .container .NoCopyright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footerBottom .container .NoCopyright .col .Cards {
  margin: 30px 0;
  background-color: #fefaf3;
  border: none;
}

#footer .footerBottom .container .NoCopyright .col .Cards .Copyright {
  opacity: 60%;
}

#footer .footerBottom .container .NoCopyright .col .Cards .Copyright span {
  font-size: 10px;
}

#footer .footerBottom .container .NoCopyright .col .Cards .Copyright a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

#footer .footerBottom .container .NoCopyright .col .Cards .SocialLinks {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#footer .footerBottom .container .NoCopyright .col .Cards .SocialLinks .inst {
  float: left;
}

#footer .footerBottom .container .NoCopyright .col .Cards .SocialLinks .face {
  float: right;
}

#footer .footerBottom .container .NoCopyright .col .Cards .SocialLinks a {
  opacity: 60%;
  text-decoration: none;
  font-size: 12px;
  color: black;
}

main #acordion {
  margin-top: 4rem;
}

main #acordion .container h1 {
  margin-top: 100px;
  margin-bottom: 150px;
}

main #acordion .container .row .col {
  margin-bottom: 20%;
}

main #acordion .container .row .col .accordian .Card {
  background-color: white;
  margin-bottom: 1rem;
  border: none;
  width: 100%;
}

main #acordion .container .row .col .accordian .Card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #eee;
}

main #acordion .container .row .col .accordian .Card .card-header:hover {
  background-color: #F34F3F;
}

main #acordion .container .row .col .accordian .Card .card-header:hover h3 {
  color: white;
}

main #acordion .container .row .col .accordian .Card .card-header:hover span {
  color: white;
}

main #acordion .container .row .col .accordian .Card .card-header h3 {
  cursor: pointer;
  color: #757575;
  position: relative;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
  height: 100%;
}

main #acordion .container .row .col .accordian .Card .card-header span {
  height: 25px;
  width: 25px;
  color: #757575;
  background-color: transparent;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

main #acordion .container .row .col .accordian .Card .card-body {
  padding: 20px;
  display: none;
  border: none;
}

main #acordion .container .row .col .accordian .Card .card-body p {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0px;
  border: none;
}

main #acordion .container .row .col .accordian .Card:nth-child(1) .card-body {
  display: block;
}

main #acordion .container .row .col .accordian .Card1 {
  background-color: white;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
}

main #acordion .container .row .col .accordian .Card1 .card-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #eee;
}

main #acordion .container .row .col .accordian .Card1 .card-header1:hover {
  background-color: #F34F3F;
}

main #acordion .container .row .col .accordian .Card1 .card-header1:hover h3 {
  color: white;
}

main #acordion .container .row .col .accordian .Card1 .card-header1:hover span {
  color: white;
}

main #acordion .container .row .col .accordian .Card1 .card-header1 h3 {
  cursor: pointer;
  color: #757575;
  position: relative;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
  height: 100%;
}

main #acordion .container .row .col .accordian .Card1 .card-header1 span {
  height: 25px;
  width: 25px;
  color: #757575;
  background-color: transparent;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

main #acordion .container .row .col .accordian .Card1 .card-body1 {
  padding: 20px;
  display: none;
  border: none;
}

main #acordion .container .row .col .accordian .Card1 .card-body1 p {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0px;
  border: none;
}

main #acordion .container .row .col .accordian .Card1:nth-child(1) .card-body1 {
  display: block;
}

main #acordion .container .row .col .accordian .Card2 {
  background-color: white;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
}

main #acordion .container .row .col .accordian .Card2 .card-header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #eee;
}

main #acordion .container .row .col .accordian .Card2 .card-header2:hover {
  background-color: #F34F3F;
}

main #acordion .container .row .col .accordian .Card2 .card-header2:hover h3 {
  color: white;
}

main #acordion .container .row .col .accordian .Card2 .card-header2:hover span {
  color: white;
}

main #acordion .container .row .col .accordian .Card2 .card-header2 h3 {
  cursor: pointer;
  color: #757575;
  position: relative;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
  height: 100%;
}

main #acordion .container .row .col .accordian .Card2 .card-header2 span {
  height: 25px;
  width: 25px;
  color: #757575;
  background-color: transparent;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

main #acordion .container .row .col .accordian .Card2 .card-body2 {
  padding: 20px;
  display: none;
  border: none;
}

main #acordion .container .row .col .accordian .Card2 .card-body2 p {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0px;
  border: none;
}

main #acordion .container .row .col .accordian .Card2:nth-child(1) .card-body2 {
  display: block;
}

main #acordion .container .row .col .accordian .Card3 {
  background-color: white;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
}

main #acordion .container .row .col .accordian .Card3 .card-header3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #eee;
}

main #acordion .container .row .col .accordian .Card3 .card-header3:hover {
  background-color: #F34F3F;
}

main #acordion .container .row .col .accordian .Card3 .card-header3:hover h3 {
  color: white;
}

main #acordion .container .row .col .accordian .Card3 .card-header3:hover span {
  color: white;
}

main #acordion .container .row .col .accordian .Card3 .card-header3 h3 {
  cursor: pointer;
  color: #757575;
  position: relative;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
  height: 100%;
}

main #acordion .container .row .col .accordian .Card3 .card-header3 span {
  height: 25px;
  width: 25px;
  color: #757575;
  background-color: transparent;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

main #acordion .container .row .col .accordian .Card3 .card-body3 {
  padding: 20px;
  display: none;
  border: none;
}

main #acordion .container .row .col .accordian .Card3 .card-body3 p {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0px;
  border: none;
}

main #acordion .container .row .col .accordian .Card3:nth-child(1) .card-body3 {
  display: block;
}

main #TabHeader {
  margin: 100px 0;
}

main #TabHeader .container .tabTitle {
  margin: 120px 0;
}

main #TabHeader .container .eventBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

main #TabHeader .container .eventBox .col .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #TabHeader .container .eventBox .col .buttons .active {
  color: white;
  background-color: red;
  border: none;
}

main #TabHeader .container .eventBox .col .buttons .active:hover {
  background-color: red;
  color: white;
}

main #TabHeader .container .eventBox .col .buttons .buton {
  border: 1px solid #eee;
  height: 50px;
  width: 120px;
}

main #TabHeader .container .eventBox .col .buttons .buton:hover {
  background-color: red;
  color: white;
}

main #TabHeader .container .eventBox .col .contents .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 220px;
  border: 1px solid #eee;
  overflow: hidden;
}

main #TabHeader .container .eventBox .col .contents .content p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 15px;
}

main #TabHeader .container .eventBox .col .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
}

main #TabHeader .container .eventBox .col .buttons .activeSecond {
  background-color: red;
  color: white;
  border: none;
}

main #TabHeader .container .eventBox .col .buttons .activeSecond:hover {
  background-color: red;
  color: white;
}

main #TabHeader .container .eventBox .col .buttons button {
  background-color: white;
  border: none;
  height: 50px;
  width: 120px;
  outline: none;
  cursor: pointer;
}

main #TabHeader .container .eventBox .col .buttons button:hover {
  background-color: white;
  color: red;
}

main #TabHeader .container .eventBox .col .Contents .Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 220px;
  border: 1px solid #eee;
  overflow: hidden;
}

main #TabHeader .container .eventBox .col .Contents .Content p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 15px;
}

main #TabMain .container .row .col .buttonsmain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #TabMain .container .row .col .buttonsmain .activemain {
  color: red;
  background-color: white;
  border: none;
}

main #TabMain .container .row .col .buttonsmain button {
  border: none;
  background-color: white;
  height: 50px;
  width: 120px;
  cursor: pointer;
  outline: none;
}

main #TabMain .container .row .col .contentsmain .contentmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 220px;
  border: 1px solid #eee;
  overflow: hidden;
}

main #TabMain .container .row .col .contentsmain .contentmain p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 15px;
}

main #TabFooter {
  margin-top: 100px;
  margin-bottom: 100px;
}

main #TabFooter .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #TabFooter .container .row .col .buttonsfooter {
  width: 100%;
  display: block;
}

main #TabFooter .container .row .col .buttonsfooter .activefooter {
  color: white;
  background-color: red;
  border: none;
}

main #TabFooter .container .row .col .buttonsfooter .activefooter:hover {
  background-color: red;
  color: white;
}

main #TabFooter .container .row .col .buttonsfooter button {
  border: 1px solid #eee;
  background-color: white;
  height: 50px;
  width: 120px;
  cursor: pointer;
  outline: none;
}

main #TabFooter .container .row .col .buttonsfooter button:hover {
  background-color: red;
  color: white;
}

main #TabFooter .container .row .col .contentsfooter .contentfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 220px;
  border: 1px solid #eee;
  overflow: hidden;
}

main #TabFooter .container .row .col .contentsfooter .contentfooter p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 15px;
}

main #titleProgress .container .row .col .ProgressName h1 {
  margin: 150px 0;
}

main #FirstBars {
  margin-bottom: 200px;
}

main #FirstBars .container .row .bars .bar1 .firstb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #FirstBars .container .row .bars .bar1 .firstb .mask {
  width: 460px;
  height: 4px;
  margin-top: 9px;
  border-radius: 12px;
  background-color: black;
}

main #FirstBars .container .row .bars .bar1 .firstb .mask .loadingBar {
  height: 4px;
  background-color: red;
}

main #FirstBars .container .row .bars .bar1 .firstb p {
  margin-left: 20px;
}

main #FirstBars .container .row .bars .bar2 .secondb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #FirstBars .container .row .bars .bar2 .secondb .mask {
  width: 460px;
  height: 4px;
  margin-top: 9px;
  border-radius: 12px;
  background-color: black;
}

main #FirstBars .container .row .bars .bar2 .secondb .mask .loadingBar {
  height: 4px;
  background-color: red;
}

main #FirstBars .container .row .bars .bar2 .secondb p {
  margin-left: 20px;
}

main #FirstBars .container .row .bars .bar3 .thirdb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #FirstBars .container .row .bars .bar3 .thirdb .mask {
  width: 460px;
  height: 4px;
  margin-top: 9px;
  border-radius: 12px;
  background-color: black;
}

main #FirstBars .container .row .bars .bar3 .thirdb .mask .loadingBar {
  height: 4px;
  background-color: red;
}

main #FirstBars .container .row .bars .bar3 .thirdb p {
  margin-left: 20px;
}

main #SecondBar {
  margin: 250px 0;
}

main #SecondBar .container .row .barsfooter .barheader .firstb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #SecondBar .container .row .barsfooter .barheader .firstb .mask {
  width: 100%;
  height: 4px;
  margin-top: 9px;
  border-radius: 12px;
  background-color: black;
}

main #SecondBar .container .row .barsfooter .barheader .firstb .mask .loadingBar {
  height: 4px;
  background-color: red;
}

main #SecondBar .container .row .barsfooter .barheader .firstb p {
  margin-left: 20px;
}

main #SecondBar .container .row .barsfooter .barmain .secondb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #SecondBar .container .row .barsfooter .barmain .secondb .mask {
  width: 100%;
  height: 4px;
  margin-top: 9px;
  border-radius: 12px;
  background-color: black;
}

main #SecondBar .container .row .barsfooter .barmain .secondb .mask .loadingBar {
  height: 4px;
  background-color: red;
}

main #SecondBar .container .row .barsfooter .barmain .secondb p {
  margin-left: 20px;
}

main #SecondBar .container .row .barsfooter .barfooter .thirdb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #SecondBar .container .row .barsfooter .barfooter .thirdb .mask {
  width: 100%;
  height: 4px;
  margin-top: 9px;
  border-radius: 12px;
  background-color: black;
}

main #SecondBar .container .row .barsfooter .barfooter .thirdb .mask .loadingBar {
  height: 4px;
  background-color: red;
}

main #SecondBar .container .row .barsfooter .barfooter .thirdb p {
  margin-left: 20px;
}

#backToTop {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: red;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  display: none;
  cursor: pointer;
  overflow: hidden;
}

#backToTop:hover i {
  font-size: 30px;
  -webkit-box-shadow: 0px 2px 36px 5px rgba(0, 0, 0, 0.88);
          box-shadow: 0px 2px 36px 5px rgba(0, 0, 0, 0.88);
  opacity: 50%;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
/*# sourceMappingURL=style.css.map */